<div class="container">
</div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzc11fywj/image/upload/v1628342565/4-2_mnylp0.jpg);">
    <div class="container">
      <h1>Go away for the weekend!</h1>
      <p>Discover amazing places to stay at, in the most remote locations in the world...</p>
      <a class="btn btn-primary" href="/properties">Discover our properties</a>
      <a class="btn btn-primary" href="/properties/new">Create flat</a>
    </div>
  </div>
    
  </p>
  </div>
  <br>
    <% if user_signed_in?  %>
      <%= current_user.email %>
    <% end %>
  </p>

