.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  margin: 10px;
}