/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}